.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: black;
    box-shadow: 0 2px 4px rgb(250, 218, 77);
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: sans-serif;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.center-links {
    display: flex;
    gap: 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
}
.center-links a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}
.right-icons a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}
.center-links a:hover {
    color: #d3d325;
    transition: color 0.2s;
    text-decoration: none;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
}

.cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
}

.right-icons a:hover,
.cart-icon:hover {
    color: #d5d52a;
    transition: color 0.2s;
}
