.cart-page {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.cart-items {
    flex: 2;
}

.cart-item {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.cart-item img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.qty button {
    padding: 2px 8px;
    margin: 0 5px;

}
.minus,.plus{
    width:35px;
    height:35px;
    border: 1px solid #d9cfcf;
}

.qty{
    padding: 10px;
    margin:10px;
    margin-left: 1px;
    padding-left: 1px;
    margin-bottom: 5px;
    padding-bottom: 4px;
}
.remove{
    background: black;
    color:white;
    width: 100px;
    height: 30px;
    border-radius: 14px;
    font-family: Roboto;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;

}
h4{
    margin-top: 25px;
}

.checkout-summary {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.checkout-btn {
    background: #e50914;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.free {
    color: red;
}
